
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
tools/playable-cli.config.cjs

#//////////////////////////
# Synced Shared Kit Tools
#//////////////////////////
/[0-9]*_*.bat
